<h3>Top</h3>
<div id="blog-categories">
  <ul class="list-group">
    {% for post in site.posts %}
    {% assign tags = post.tag %}
    {% for tag in tags %}
    <li class="list-group-item">
      {% if tag == 'Top' %}
        <a data-control="TOS" href="{{post.url}}">{{ post.title }}</a>
      {% endif %}
    </li>
    {% endfor %}
    {% endfor %}
  </ul>
  <script>
    window.showTOS = function() {
      const tosEl = document.querySelector('a[data-control="TOS"]');
      tosEl && (tosEl.style.display = 'block');
    }
    setTimeout(() => {
      const TOSEntryEl = document.querySelector('span[title="Jico"]');
      TOSEntryEl && (TOSEntryEl.onclick = function() {window.showTOS();localStorage.setItem('whoami', 'jico')});
      let whoami = localStorage.getItem('whoami')
      if (whoami === 'jico') {
        window.showTOS()
      }
    }, 300)
  </script>
</div>
