html {
  background: #f8f9fb;
}
html body {
  width: 100vw;
  height: 100vh;
  font-size: 0.53333rem;
  background: #fefefe;
  box-shadow: 0 0.05333rem 0.21333rem 0 rgba(0, 0, 0, 0.05);
}
html body .content-wrap {
  padding: 0.4rem;
  overflow: hidden;
}
html body .content-wrap p {
  margin: 0 auto;
}
html #app {
  width: 100%;
  height: 100%;
}
html #app .section {
  margin: 0.26667rem;
  border: 0.05333rem solid #ccc;
}
html #app .section svg {
  overflow: inherit;
}

